.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: var(--bg);
}

.header-item {
  width: 50px;
  height: 50px;
  background: var(--card);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-item {
  padding: 4px;
  background: var(--card);
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
