.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background: var(--bg);
}

.header-item {
  width: 50px;
  height: 50px;
  background: var(--card);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  width: auto;
  padding: 0 10px;
  background: transparent;
}
