.logo-title-container {
  width: 100%;
  text-align: center;
  background: #fafafa;
  padding: 10px 0;
}

.logo-title-container svg {
  width: 100%;
  height: auto;
  max-width: 420px;
}

.logo-title-container text {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 32px;
  fill: red;
  stroke: red;
  stroke-width: 1;
}
